{% extends 'base.html' %}

{% block content %}

<h3 class="page-header" style="margin-top: 4rem">Gallery Image Upload</h3>

{# method=post enctype=multipart/form-data action="#" #}
<form id="image-upload-form" method="post" enctype="multipart/form-data" action="#" style="margin-top: 9rem">
{# <form id="image-upload-form" hx-post="{% url 'upload_multi_gallery_image' %}" hx-encoding="multipart/form-data" style="margin-top: 9rem;"> #}
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
    <br />
   {# <div class="row text-center"> #}
   {#     <div class="col-4 col-offset-4 text-center"> #}
   {#       <progress id="progress" value="0" max="100"></progress> #}
   {#        </div> #}
    </div> #}
</form>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://unpkg.com/htmx.org@1.9.0"></script>
    <script>
        htmx.on('#image-upload-form', 'htmx:xhr:progress', function(evt) {
            htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
        });
    </script>
{% endblock %}
