* {
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-left: 15px;
}

.form-check-label {
  margin-right: 15px;
}

form {
  margin: auto 5%;
}

input[type="text"],
input[type="email"],
input[type="checkbox"],
input[type="file"],
textarea,
input#file-upload-button,
select {
  border: 1pt solid rgba(255, 255, 255, 0);
  border-radius: 12pt;
  -webkit-box-shadow: var(--box-shadow-md);
  box-shadow: var(--box-shadow-md);
  background-color: rgba(255, 255, 255, 0);
  text-shadow: var(--text-shadow-inset);
}

input[type=text],
input[type=email],
input[type=checkbox],
input[type=file],
textarea,
input#file-upload-button,
label {
  background-color: rgba(255, 255, 255, 0);
  text-shadow: var(--text-shadow-inset);
}
label.file-input-label,
input[type="file"].form-control-file,
input#image-upload-input.form-control-file, {
  padding: .375rem .75rem;
}

input::placeholder {
  text-shadow: var(--text-shadow-inset);
}

body,
html {
  background: linear-gradient(318.32deg, #c3d1e4 0%, #dde7f3 55%, #d4e0ed 100%);
}

div {
  background-color: rgba(255, 255, 255, 0);
}

select option,
select {
  background-color: rgba(255, 255, 255, 0);
  text-shadow: var(--text-shadow-inset);
}

.btn-neumo:hover .inner-wrapper p {
  text-decoration: underline;
  text-decoration-style: double;
  transition: all .32s ease-in-out;
  color: var(--bs-dark-tr);
}

.btn-neumo .inner-wrapper {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 100%;
  border-radius: 16px;
  transition: all .32s ease-in-out;
  display: grid;
  place-items: center;
}

.btn-neumo {
  width: 100%;
  height: 62px;
  border-radius: 18px;
  padding: 2px;
  -webkit-box-shadow: var(--box-shadow-btn-wide);
  box-shadow: var(--box-shadow-btn-wide);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  border: 1pt solid rgba(255, 255, 255, 0);
  font-family: "Codystar", cursive;
  font-weight: 900;
  color: var(--accent-dark);
  transition: all .32s ease-in-out;
}

.btn-neumo .inner-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  transition: all .32s ease-in-out;
  display: grid;
  place-items: center;
  background-color: rgba(255, 255, 255, 0);
}

.btn-neumo .inner-wrapper p {
  user-select: none;
  transition: all .32s ease-in-out;
  font-size: 32px;
  /* color: rgba(201, 215, 230, 0.8); */
  color: var(--accent-dark-tr);
  font-weight: 900;
  text-shadow: var(--text-shadow-inset);
}

.btn-neumo.active .inner-wrapper p {
  text-shadow: var(--text-shadow-inset);
  color: var(--accent-dark-tr);
}

.btn-neumo.active {
  background-color: rgba(0, 0, 0, 0.05);
  transition: all .35s ease-in-out;
}

.btn-neumo.active .inner-wrapper {
    -webkit-box-shadow: var(--box-shadow-md-inset);
    box-shadow: var(--box-shadow-md-inset);
}

div.tox.tox-tinymce,
textarea.tinymce {
  border-radius: 5pt;
  -webkit-box-shadow: var(--box-shadow-btn-wide);
  box-shadow: var(--box-shadow-btn-wide);
}