div.custom-blockquote {
  opacity: 0.5;
  border: 1pt solid grey;
}

div > ul {
  padding: 0;
}

ul {
  list-style-type: none;
  list-style: none;
}

small {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

ul.inner-ul li {
  margin-right: 10%;
}

div.index-div {
  height: 100%;
  min-height: 100%;
  border: 1pt solid transparent;
}

div.index-div > ul {
  border: 1pt solid transparent;
}

.footer-image-top {
  padding: 0;
  margin:0 auto;
  width: 100vw;
  background-image: linear-gradient(173deg, #dde7f3 0%, #dde7f3 1%, #dde7f3 10%, #d1dce280 20%, rgba(0,0,0,0) 30%),
                    linear-gradient(187deg, #c8dbf1 0%, #c6d7e7 1%, #dde7f3 10%, #d1dce280 20%, rgba(0,0,0,0) 35%),
                    url(../../img/gradient_image.jpeg);
  background-position: center, center, center;
  background-size: contain, contain, contain;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-origin: border-box, border-box, border-box;
  aspect-ratio: 13 / 5, 13 / 5, 13/ 5;
  padding-top: 38.46%;
  bottom: 0;
  border: 1px solid transparent;
  object-fit: contain;
  position: relative;
  /* min-height:835px; */
  /* background-color: transparent; */
}

li.to-do-item {
  width: 100%;
  height: 100%;
  padding: 1.25rem auto;
  border: 1pt solid transparent;

}
