div.custom-blockquote {
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  border: 1pt solid grey;
}

div.index-div {
  background-color: rgba(0, 0, 0, 0.8);
}

ul {
  list-style-type: none;
  list-style: none;
}

small {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;
}
