.form-group,
.form-row {
  margin: 3rem auto;
  background-color: transparent
}

.form-wrapper {
  /* background-color: rgba(8, 12, 15, 0.8); */
  /* background-color: transparent; */
  /* background-color: rgba(45,75,114,0.8); */
  /* background-color: var(--bg-shadow); */
  box-shadow: var(--box-shadow-md);
  text-shadow: var(--text-shadow-inset);
  color: var(--bg-primary);
  padding: 2rem;
  border-radius: 16pt;
  width: 90%;
  align-content: center;
  text-align:center;
  margin: 0 auto;
}
  

input[type=text],
input[type=email],
textarea,
select {
  border: 1pt solid transparent;
  border-radius: 18pt;
  box-shadow: var(--box-shadow-md-inset);
}

form {
  /* background-color: transparent; */
  margin: 0 auto;
  width: 70%;
  border: none;
}

div.form-group {
  background-color: transparent;
}