.mia_list,
.in_contact_list,
.passed_list {
  display: none;
}

select.table-view-select {
  padding: 10px;
  text-align: center;
  align-content: center;
  text-align-last: center;
  font-weight: bolder;
  border: 2pt solid black;
  outline: 2pt solid black;
}

select.table-view-select:hover,
select.table-view-select:focus {
  font-weight: bolder;
  border: 2pt solid black;
}

option {
  font-weight: bolder;
  margin: 10px auto;
  display: inline-block;
  width: 100%;
  align-content: center;
  text-align: center;
  text-align-last: center;
  width: 100%;
}

#scroll {
  position: fixed;
  right: 8%;
  bottom: 16%;
  width: 50px;
  height: 50px;
  background-color: #3498db;
  background-image: url(../../fontawesome_free/svgs/solid/chevron-circle-up.svg);
  color: white;
  text-indent: -9999px;
  display: none;
  --webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  box-shadow: 0pt 0pt 30pt 20pt #088fb1c9;
  transition: 0.45s;
}

#scroll span {
  position: absolute;
  top: 50%;
  bottom: 50%;
  margin-left: -8px;
  margin-right: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}

#scroll:hover {
  background-color: rgba(255, 171, 15, 0.7);
  color: white;
  box-shadow: 0pt 0pt 30pt 15pt rgba(231, 123, 0, 0.911);
  transition: 0.45s;
}

table {
  overflow-x: scroll;
  overflow-y: scroll;
  max-height: 4000px;
}

div.table-wrapper.text-center.toggle-hidden {
    max-width: 80%;
    overflow-x: scroll;
}

table.table.table-striped.table-dark.table-bordered {
    max-width: 100%;
    overflow-x: scroll;
}

@media only screen and (max-width: 768px) {

  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead, tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td {
    border: none;
    border-bottom: 1px solid rgb(235,235,235);
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: ablsolute;
    top: 0.75rem;
    left: 0.75rem;
    width: 45%;
    padding-right: 10px;
    white-space: nowarp;
  }

  td:nth-of-type(1):before { content: "Last Name"}
  td:nth-of-type(2):before { content: "Middle"}
  td:nth-of-type(3):before { content: "First Name"}
  td:nth-of-type(4):before { content: "City"}
  td:nth-of-type(5):before { content: "State/Province"}
  td:nth-of-type(6):before { content: "Zip Code"}

}

@media (max-width: 991px) {
  div.container.content {
    margin-left: 3vw;
    margin-right: 3vw;
  }
}


