@import url("https://fonts.googleapis.com/css?family=Material+Icons+Round");

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(318.32deg, #c3d1e4 0%, #dde7f3 55%, #d4e0ed 100%);
}

body {
    padding-top: 106px;
}

.container-fluid.content {
    background-color: rgba(255, 255, 255, 0);
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}

.btn-neumo:hover .inner-wrapper i {
    color: rgba(201, 215, 230, 0.8);
    transition: 0.32s ease-in-out;
}

.btn-neumo.active:hover .inner-wrapper i {
    text-shadow: var(--text-shadow-inset);
    transition: 0.32s ease-in-out;
    color: rgba(201, 215, 230, 0.8);
}

.btns-wrapper {
    margin-top: 40px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content(10%);
    padding: 16px;
    padding-top: 30px;
    gap: 12px;
    transform: scale(.8);
}

.btn-neumo {
    width: 62px;
    height: 62px;
    border-radius: 18px;
    padding: 2px;
    -webkit-box-shadow: var(--box-shadow-btn);
    box-shadow: var(--box-shadow-btn);
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.btn-neumo .inner-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    transition: all .22s ease-in-out;
    display: grid;
    place-items: center;
}

.btn-neumo .inner-wrapper i {
    user-select: none;
    transition: all .22s ease-in-out;
    font-size: 32px;
    color: rgba(201, 215, 230, 0.8);
    text-shadow: var(--text-shadow);
}

.tab-header .inner-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.btn-neumo.active .inner-wrapper,
.tab-header .inner-wrapper {
    -webkit-box-shadow: var(--box-shadow-md-inset);
    box-shadow: var(--box-shadow-md-inset);
}

.btn-neumo.active .inner-wrapper i {
    text-shadow: var(--text-shadow-inset);
}

.btn-neumo.active {
    background-color: rgba(0, 0, 0, 0.05);
    transition: 0.35s ease-in-out;
}

.svg-icon {
    display: inline-block;
}

.pack {
    width: 100%;
    padding: 1rem;
    border: 1pt solid rgba(255, 255, 255, 0);
    border-radius: 16pt;
    -webkit-box-shadow: var(--box-shadow-md);
    box-shadow: var(--box-shadow-md);
    text-shadow: var(--text-shadow);
    background-color: rgba(255, 255, 255, 0);
    margin-top: 0;
}

table.table {
    color: var(--accent-dark-tr);
    border: none;
    user-select: none;
    transition: all .22s ease-in-out;
    font-size: 16pt;
    position: relative;
    text-shadow: var(--text-shadow);
    border-collapse: collapse;
    -webkit-box-shadow: var(--box-shadow-md);
    box-shadow: var(--box-shadow-md);
    border-radius: 18pt;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0;
    background-clip: border-box;
}

table tr:nth-of-type(odd) {
    background-color: var(--bg-shadow);
    color: var(--bg-bright);
}

.tab-music table.table {
    table-layout: auto;
    width: 100%;
}

.song-pos {
    font-weight: 700;
}

th,
td {
    border: none;
    border-bottom: 1px solid #d6e1ef;
}

.tab-content {
    margin-top: 15vh;
    margin-bottom: 5rem;
    background-clip: border-box;
    border-radius: 18pt;
    width: 90%;
}

.tab-music {
    background-clip: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    position: relative;
    user-select: none;
    color: rgba(201, 215, 230, 0.8);
    -webkit-box-shadow: var(--box-shadow-md-inset);
    box-shadow: var(--box-shadow-md-inset);
    width: 100%;
}

.music-header {
    margin-top: 3rem;
}

thead,
th {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    background-clip: border-box;
    border-collapse: collapse;
}

.tab.tab-music table.table thead,
table.table thead,
thead.text-center {
    border: 1pt solid rgba(255, 255, 255, 0);
    border-top-left-radius: 18pt;
    border-top-right-radius: 18pt;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--accent-dark);
    /* color: rgba(255, 255, 255, 0); */
    color: var(--bg-bright);
    background-clip: border-box;
    text-shadow: var(--text-shadow);
    -webkit-box-shadow: var(--box-shadow-inset-dark);
    box-shadow: var(--box-shadow-inset-dark);
}

.table thead th:first-of-type {
    background-clip: border-box;
    border-top-left-radius: 18pt;
}

.table thead th:last-of-type {
    background-clip: border-box;
    border-top-right-radius: 18pt;
}

thead>tr {
    border-top-left-radius: 18pt;
    border-top-right-radius: 18pt;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgba(255, 255, 255, 0);
    background-clip: border-box;
    border: none;
    -webkit-box-shadow: var(--box-shadow-inset-dark);
    box-shadow: var(--box-shadow-inset-dark);
}

tbody tr {
    transition: .22s ease-in-out;
}

tbody tr:hover,
tbody tr:focus {
    color: var(--accent-2-on);
    background-color: var(--bs-dark);
}

@media only screen and (min-width: 992px) {

    .tab-music th:nth-of-type(5),
    .tab-music th:nth-of-type(6),
    .tab-music th:nth-of-type(7),
    .tab-music tr td:nth-of-type(5),
    .tab-music tr td:nth-of-type(6),
    .tab-music tr td:nth-of-type(7) {
        display: revert;
    }

    .tab-music th:first-of-type {
        padding-left: 24px;
    }

    .tab-music th:last-of-type {
        padding-right: 24px;
    }

    .tab-music tr td:nth-of-type(1),
    .tab-music tr td:nth-of-type(2) {
        text-align: left;
        align-content: left;
        text-justify: left;
    }

    .tab-music tr td:nth-of-type(1),
    .tab-music tr td:nth-of-type(2) {
        padding-left: 0;
    }

    .tab-music tr td:first-of-type {
        padding-left: 50px;
    }
}

@media only screen and (min-width: 1400px) {

    .tab-music table.table {
        table-layout: auto;
    }

    .tab-music td {
        text-align: center;
    }

    .tab-content {
        margin-left: 2%;
        margin-right: 2%;
    }

    .tab-music tr td:nth-of-type(n+4),
    .tab-music tr td:nth-of-type(5),
    .tab-music tr td:nth-of-type(6),
    .tab-music tr td:nth-of-type(7) {
        text-align: center;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1399.98px) {

    table.table {
        table-layout: auto;
    }

    .tab-music tr td:nth-of-type(n+4) {
        text-align: right;
    }
}

.rounded-border {
    border-radius: 50%;
}

.card-img {
    width: 10rem;
    height: 10rem;
}

.card-img-top {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border-radius: 18px;
    border: 2pt solid black;
    -webkit-box-shadow: var(--box-shadow-md);
    box-shadow: var(--box-shadow-md);
}

hr.raised {
    -webkit-box-shadow: var(--box-shadow-sm);
    box-shadow: var(--box-shadow-sm);
    border: 2px solid rgba(201, 215, 230, 0.8);
    border-radius: 3pt;
}

.card {
    font-size: 18px;
    color: rgba(136, 165, 191, 0.48);
    text-shadow: var(--text-shadow);
    -webkit-box-shadow: var(--box-shadow-md);
    box-shadow: var(--box-shadow-md);
    position: relative;
    display: flex;
    min-width: 0;
    background-clip: border-box;
    background: linear-gradient(318.32deg, #C3D1E4 0%, #DDE7F3 55%, #D4E0ED 100%);
    border-radius: 18pt;
    border: none;
    width: 330px;
    padding: 1rem 1rem 0 1rem;
}

@media (min-width: 768px) {
    .card {
        width: 350px;
    }
}

@media (min-width: 992px) {
    .card {
        width: 400px;
    }
}

@media (min-width: 1200px) {
    .card {
        width: 450px;
    }
}

.card-body {
    background-color: rgba(255, 255, 255, 0);
    filter: drop-shadow(3px 3px 7px rgba(136, 165, 191, 0.48)) drop-shadow(-3px -3px 7px #FFFFFF);
}

.card-text {
    background-color: rgba(255, 255, 255, 0);
}

.card-text small {
    font-weight: bolder;
}

.card-title {
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    font-size: 20pt;
    text-shadow: var(--text-shadow-inset);
    border: none;
    border-radius: 18pt;
}

.card-subtitle {
    background-color: rgba(255, 255, 255, 0);
    font-size: 10pt;
    font-style: italic;
}

.tv-row,
.movie-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

@media (max-width:575.98px) {
    div.tab.content.text-center {
        width: 98%;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .btns-wrapper {
        transform: scale(2);
    }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .btns-wrapper {
        gap: 12px;
        transform: scale(1.3);
        margin-top: 0;
    }

    .tab-content {
        margin-top: 30px;
    }
}

@media (min-width: 768px) and (max-width:991.98px) {
    .btns-wrapper {
        gap: 12px;
        transform: scale(1.7);
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .btns-wrapper {
        gap: 16px;
        transform: scale(1.9);
    }
}

@media (min-width: 1200px) {
    .btns-wrapper {
        transform: scale(2.3);
        gap: 20px;
    }
}

#scroll {
    position: fixed;
    right: 8%;
    bottom: 16%;
    width: 50px;
    height: 50px;
    background-color: #3498db;
    background-image: url(../../fontawesome_free/svgs/solid/chevron-circle-up.svg);
    background-clip: border-box;
    color: white;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    filter: drop-shadow(0 0 30px 20px #088fb1c9);
    transition: 0.45s;
    z-index: 401;
}

#scroll span {
    position: absolute;
    top: 50%;
    bottom: 50%;
    margin-left: -8px;
    margin-right: -12px;
    height: 0;
    width: 0;
    border: 8px solid rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    z-index: 400;
}

#scroll:hover {
    background-color: rgba(255, 171, 15, 0.7);
    color: white;
    filter: drop-shadow(0 0 30pt 15pt rgba(231, 123, 0, 0.911));
    transition: 0.45s;
}

h6.top-header.tab-header {
    margin: 0 auto 15px;
    width: 97.8%;
    -webkit-box-shadow: var(--box-shadow-md-inset);
    box-shadow: var(--box-shadow-md-inset);
    font-size: 24pt;
    font-weight: 900;
    text-align: center;
    text-shadow: var(--text-shadow);
    border: 1px solid rgba(255, 255, 255, 0);
    transform: translateX(-90deg) translateZ(1em);
    border-bottom: none;
    padding: 14px;
    padding-bottom: none;
    border-image: url('../img/border/fractal_4.jpg') 6 stretch;
    border-image-width: 3px 7px 3px 7px;
    border-image-outset: 0;
    border-image-repeat: round space;
    background-clip: border-box;
    border-radius: 3px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8)) drop-shadow(-2px -2px 2px #FFFFFF);
    font-family: "Codystar", cursive;
}

.tab-movie,
.tab-tv {
    background-color: rgba(0, 0, 0, 0.5);
}

.tab-movie card:first-of-type {
    margin-top: 5vh;
}

.tab {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    background-clip: border-box;
    border-radius: 18pt;
    margin-top: 0;
}

table.table.table-hover tbody tr:hover td,
table.table.table-hover tbody tr:hover th,
table.table.table-hover tbody tr:hover {
    background-color: var(--bs-dark-tr);
    color: #088fb1c9;
    text-shadow: 1px 1px 1px #0BBDEA, 0 0 1px #088FB1, -1px -1px 1px #065F75;
}

@media only screen and (max-width: 991.9px) {
    .music-table thead th {
        display: none;
    }

    .music-table td,
    .music-table th.song-pos {
        display: inline-block;
        width: 100%;
        min-width: 100%;
        margin: auto;
        padding: 4px;
        font-size: 12pt;
        border-collapse: collapse;
    }

    .music-table tr {
        width: 100%;
        margin: 0 auto;
        border: 2pt solid rgba(235, 235, 235, 0.7) none;
    }

    .music-table th.song-pos:before {
        content: 'Position';
        min-width: 10rem;
        float: left;
        left: 0;
        margin-left: 0;
        text-align: left;
        font-family: "Roboto", sans-serif;
        text-shadow: 1px 1px 1px #d6e1ef99, 0 0 1px #000, -1px -1px 1px #d6e1ef00;
    }

    .music-table td:nth-of-type(1):before {
        content: 'Single';
        min-width: 10rem;
        float: left;
        left: 0;
        margin-left: 0;
        text-align: left;
        font-family: "Roboto", sans-serif;
        text-shadow: 1px 1px 1px #d6e1ef99, 0 0 1px #000, -1px -1px 1px #d6e1ef00;
    }

    .music-table td:nth-of-type(2):before {
        content: 'Artist';
        min-width: 10rem;
        float: left;
        left: 0;
        margin-left: 0;
        text-align: left;
        font-family: "Roboto", sans-serif;
        text-shadow: 1px 1px 1px #d6e1ef99, 0 0 1px #000, -1px -1px 1px #d6e1ef00;
    }

    .music-table td:nth-of-type(3):before {
        content: 'Peak';
        min-width: 10rem;
        float: left;
        left: 0;
        margin-left: 0;
        text-align: left;
        font-family: "Roboto", sans-serif;
        text-shadow: 1px 1px 1px #d6e1ef99, 0 0 1px #000, -1px -1px 1px #d6e1ef00;
    }

    .music-table td:nth-of-type(4):before {
        content: 'Weeks @ Peak';
        min-width: 10rem;
        float: left;
        left: 0;
        margin-left: 0;
        text-align: left;
        font-family: "Roboto", sans-serif;
        text-shadow: 1px 1px 1px #d6e1ef99, 0 0 1px #000, -1px -1px 1px #d6e1ef00;
    }

    .music-table td:nth-of-type(5):before {
        content: 'Weeks Top 10';
        min-width: 10rem;
        float: left;
        left: 0;
        margin-left: 0;
        text-align: left;
        font-family: "Roboto", sans-serif;
        text-shadow: 1px 1px 1px #d6e1ef99, 0 0 1px #000, -1px -1px 1px #d6e1ef00;
    }

    .music-table td:nth-of-type(6):before {
        content: 'Weeks Top 40';
        min-width: 10rem;
        float: left;
        left: 0;
        margin-left: 0;
        text-align: left;
        font-family: "Roboto", sans-serif;
        text-shadow: 1px 1px 1px #d6e1ef99, 0 0 1px #000, -1px -1px 1px #d6e1ef00;
    }

    .music-table.table td,
    .music-table th.song-pos {
        padding: 8px 20px;
        text-align: right;
        right: 0;
    }
}