
.page-header {
    font-variant: small-caps;
    text-decoration: 3pt solid underline black;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align: center;
    border: 0.5pt single black;
    /* color: white; */
}


#header {
  background-color:rgba(44, 48, 52, 0.7);
}
/* .white {
  color: white;
} */

/* wrapper.d-flex.flex-column {
  background-image : url("../img/wayzata_ice_arena.c529e8272a0b.jpg");
  background-position: top;
  background-repeat: repeat-y;
  background-size: contain;
  width: 100%;
} */

div.d-flex.flex-column {
  width: 100%;
  justify-content: center;
  align-items: center;
}

address {
  margin-bottom: 0;
}

div.content.container {
  width: 70%;
  max-width: 85%;
  margin-left: 10%;
  margin-right: 10%;
}
/* div.content.container {
  background-color: rbga(0,0,0, 0.9);
  backdrop-filter: blur(5px);
  height: 100%;
  margin: 0;
  padding-top: 100px;
} */

/* div.bg-container.container {
  background-color: rgba(0,0,0,0.2);
  margin: auto;
  margin-top: 1rem;
  padding: 0;
  height: 100%;
  border-top-left-radius: 20pt;
  border-top-right-radius: 20pt;
} */

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  font-size: medium;
}

body {
  padding-top: 116px;
}

@media (max-width: 1199.98px) {

    .navbar-collapse.offcanvas-collapse {
        position: fixed;
        top: 116px; /* Height of navbar */
        bottom: 0;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        background-color: var(--gray-dark);
        transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        background-image: url("../img/class_of_76_2.557ea693214b.png");
        /* background-position: center; */
        background-position-y: 80%;
        background-position-x: center;
        background-repeat: no-repeat;
    }
    .offcanvas-collapse.open {
        -webkit-transform: translateX(-1rem);
        transform: translateX(-1rem); /* Account for horizontal padding on navbar */
    }

    .nav-item.inside {
        display: inline-block;
    }

    .form-inline.my-2.my-lg-0.outside {
        display: none;
    }

    footer {
      display: none;
    }
}

@media (min-width: 1200px) {

    .navbar-collapse.offcanvas-collapse {
        background-image: none;
    }

    .form-inline.my-2.my-lg-0.outside {
        display: inline-block;
        margin-left: auto;
    }

    .nav-item.inside {
        display: none;
    }

    footer {
      display: inline;
    }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: var(--purple); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.navbar-nav {
    margin-right: 0;
    display: inline-flex;
}


.navbar.navbar-expand-xl {
    text-align: center;
}

.btn.btn-dark.mx-0 {
  width: 100%;
  min-width: 100%;
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.list-item-dark {
  background-color: rgb(52,58,64);
}

.footer-ul {
  list-style-type: none;
  text-align: center;
  align-content: center;
  margin: 0 auto;
}

/* p.my-1 {
  font-size: 10pt;
} */


/* .content {
  position: absolute;
  top: 100px;
  bottom: 149px;
  width: 100%;
} */


body, wrapper, div.container.content {
  min-height: 100vh;

}



/* .flex-fill {
  flex: 1 1 auto;
} */

.footer-row {
  width: 100%;
  max-width: 100%;
}

thead.thead-light {
  border: 5pt solid rgb(33, 37, 41);
}

th {
  border: 1pt solid  rgb(44, 48, 52)
}

footer {
  display: fixed;
  margin-bottom: 0;
  width: 100%;
  bottom: 0;
}

table {
  overflow-x: scroll;
}

ul.list-group.list-group-flush.list-group-dark.nav-ul {
  list-style-type: none;
  list-style: none;
  width: auto;
}

a.nav-link.dropdown-toggle {
  background-color:rgb(44, 48, 52);
  color: rgb(235, 235, 235);
}


@media (min-width: 992px) {
  .dropdown-menu .dropdown-toggle:after{
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
  }
  .dropdown-menu .dropdown-menu {
    margin-left: 0;
    margin-right: 0;
  }
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }


}


a.btn.btn-dark {
  width: 100%;
  min-width: 100%;
  margin: 0 auto;
  display: inline-block;
  border-radius: 0;
  border: none;
  transition: 0.35s;
}


ul.dropdown-menu:hover,
ul.dropdown-menu:focus,
a.btn.btn-dark:hover,
a.btn.btn-dark:focus {
  border-left: none;
  border-right: none;
}

ul.dropdown-menu {
  background-color: rgb(52,58,64);
  padding-top: 0;
  padding-bottom: 0;
  border-left: none;
  border-right: none;
  transition: 0.35s;
}

a.nav-link.dropdown-toggle {
  background-color: rgb(52,58,64);
  transition: 0.35s;
}

