<footer>
    <nav class="navbar  navbar-expand-xl text-light">
        <hr>
        <div class="text-center footer-row">
            <address class="text-center">
                <small>
                    <a style="text-decoration: underline 1pt solid;" href="mailto:wayzata1976.admin@gmail.com" target="_blank">Email Us</a>
                    <br>
                    Reunion Committee @ P.O.Box 124 Wayzata, MN 55391
                </small>
            </address>
        </div>
    </nav>
</footer>