{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/neumorphism.css' %}">
{% endblock %}



{% block content %}

    <a href="#" id="scroll" class="fas fa-chevron-circle-up" data-toggle="tooltip" data-placement="top"
    title="Jump to Top"><span></span></a>

    <div class="page-header-wrapper">
        <h2 class="page-header rabbet">The Wayback Machine<br><small>Happenings of 1976</small></h2>
    </div>

    <div class="btns-wrapper">

        <div class="btn btn-neumo active" id="btn-music" data-activate=".tab-music" data-header=".music-header">
            <div class="inner-wrapper">
                <i class="material-icons-round">music_video</i>
                <!-- alt:  music_note, music_video -->
            </div>
        </div>

        <div class="btn btn-neumo" id="btn-tv" data-activate=".tab-tv" data-header=".tv-header">
            <div class="inner-wrapper">
                <i class="material-icons-round">tv</i>
            </div>
        </div>

        <div class="btn btn-neumo" id="btn-movie" data-activate=".tab-movie" data-header=".movie-header">
            <div class="inner-wrapper">
                <i class="material-icons-round">theaters</i>
                <!-- alt: movie, theaters-->
            </div>
        </div>

        <div class="btn btn-neumo" id="btn-academy" data-activate=".tab-academy" data-header=".academy-header">
            <div class="inner-wrapper">
                <i class="material-icons-round">star</i>
                <!-- alt: stars, star  -->
            </div>
        </div>

        <div class="btn btn-neumo" id="btn-sports" data-activate=".tab-sports" data-header=".sports-header">
            <div class="inner-wrapper">
                <i class="material-icons-round">emoji_events</i>
                <!-- alt: emoji_events, sports-->
            </div>
        </div>

    </div>

    <div class="tab-content text-center">

        <h6 class="tab-header music-header top-header">Top 100 Songs</h6>

        <div class="tab tab-music">

            <table class="table table-striped table-hover table-responsive-sm music-table">
                <!-- <caption>Top 100 Songs of 1976</caption> -->
                <colgroup>
                    <col>
                    <col span="2">
                    <col span="2">
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead class="text-center">
                    <tr>
                        <th class="music-th" scope="col">#</th>
                        <th class="music-th" scope="col">Single</th>
                        <th class="music-th" scope="col">Artist</th>
                        <th class="music-th" scope="col">Peak</th>
                        <th class="music-th" scope="col">Weeks<br>@ Peak</th>
                        <th class="music-th" scope="col">Weeks<br>Top 10</th>
                        <th class="music-th" scope="col">Weeks<br>Top 40</th>
                    </tr>
                </thead>
                <tbody>
                    {% for song in songs %}
                        <tr class="song-row" data-player="#player-{{ song.position }}-row" data-url="{{ song.url }}">
                            <th class="song-pos" scope="row">{{ song.position }}</th>
                            <td>{{ song.name }}</td>
                            <td>{{ song.artist }}</td>
                            <td>{{ song.peak }}</td>
                            <td>{{ song.weeks_peak }}</td>
                            <td>{{ song.weeks_top10 }}</td>
                            <td>{{ song.weeks_top40 }}</td>
                        </tr>
                        <tr class="youtube-player" id="player-{{ song.position }}-row">
                            <!-- <td colspan="7">
                                <iframe type="text/html" width="100%" height="200" src="{{ song.url }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </iframe>
                            </td> -->
                            <!-- <td colspan="6">
                                <script>
                                    var tag = document.createElement('script');
                                    tag.src = "https://www.youtube.com/iframe_api";
                                    var scriptTag = document.getElementsByTagName('script')['{{ song.position }}'];
                                    scriptTag.parentNode.insertBefore(tag, scriptTag);

                                    var player;
                                    function onYouTubeIframeAPIReady() {
                                        player = new YT.Player('player', {
                                            height: '200',
                                            width: 'auto',
                                            videoId: {{ song.video_id }},
                                            events: {
                                                'onReady': onPlayerReady,
                                                'onStateChange': onPlayerStateChange
                                            }
                                        });
                                    }

                                    function onPlayerReady(event) {
                                        event.target.playVideo();
                                    }


                                    var done = false;
                                    function onPlayerStateChange(event) {
                                        if (event.data == YT.PlayerState.PLAYING && !done) {
                                            setTimeout(stopVideo, 6000);
                                            done = true;
                                        }
                                    }
                                    function stopVideo() {
                                        player.stopVideo();
                                    }
                                </script>
                            </td> -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h6 class="tab-header top-header tv-header">Top TV</h6>

        <div class="tab tab-tv pack">

            <br>
            <div class="row tv-row text-center flex-container">

                <div class="card text-center mb-5 mx-3 pt-4 pb-2">
                    <img class="card-img-top" src="{% static 'img/tv/six_million_dollar_man_1.jpg' %}" alt="Six Million Dollar Man Poster">
                    <div class="card-body">
                        <h5 class="card-title">Six Million Dollar Man</h5>
                        <p class="card-subtitle">We can rebuild him. We have the technology.</p>
                        <hr class="raised">
                        <p class="card-text">When ace test pilot Colonel Steve Austin's test plane crashed, he was nearly dead. Deciding that "we have the technology to rebuild this man", the government decides to do just that. Fitting him with cybernetic components, giving him superhuman strength and speed, the now secret agent/operative fights injustice where it is found.</p>
                        <p class="card-text text-center"><small>(1974-1978)</small></p>
                        <hr class="raised">
                    </div>
                </div>

                <div class="card text-center mb-5 mx-3 pt-4 pb-2">
                    <img class="card-img-top" src="{% static 'img/tv/one_day_at_a_time_sq.jpg' %}" alt="One Day At A Time Poster">
                    <div class="card-body">
                        <h5 class="card-title">One Day at a Time</h5>
                        <p class="card-subtitle">Always remember, and please never forget...</p>
                        <hr class="raised">
                        <p class="card-text">This sitcom follows recently divorced mother (Ann Romano) and her two teenage daughters (Barbara and Julie) as they start a new life together in Indianapolis, They are befriended by the building superintendent (Dwayne Schneider), who treats them like family. Together, these four main characters face life's challenges together.</p>
                        <p class="card-text text-center"><small>(1975-1984)</small></p>
                        <hr class="raised">
                    </div>
                </div>

                <div class="card text-center mx-3 mb-5 pt-4 pb-2">
                    <img class="card-img-top" src="{% static 'img/tv/mash_1.jpg' %}" alt="M.A.S.H Poster">
                    <div class="card-body">
                        <h5 class="card-title">M*A*S*H</h5>
                        <p class="card-subtitle">Goodbye, Farewell, and Amen</p>
                        <hr class="raised">
                        <p class="card-text">The 4077th Mobile Army Surgical Hospital is stuck in the middle of the Korean War. With little help from the circumstance in which they find themselves, they are forced to make their own fun. Fond of practical jokes and revenge, the doctors, nurses, administrators, and soldiers often find ways of making wartime life bearable. Nevertheless, the war goes on.</p>
                        <p class="card-text text-center"><small>(1972-1983)</small></p>
                        <hr class="raised">
                    </div>
                </div>
                <div class="card text-center mb-5 mx-3 pt-4 pb-2">
                    <img class="card-img-top" src="{% static 'img/tv/Happy_Days.png' %}" alt="Happy Days Poster">
                    <div class="card-body">
                        <h5 class="card-title">Happy Days</h5>
                        <p class="card-subtitle">Ayyyy!</p>
                        <hr class="raised">
                        <p class="card-text">
                            Set in 1950s and 1960s Milwaukee, this tells the story of the Cunningham family -- father Howard, mother Marion, son Richie and daughter Joanie. Howard owns a hardware store, while Marion stays at home. Richie's best friends are Potsie and Ralph. Arthur "Fonzie" Fonzarelli is the local bad boy, riding a motorcycle, fixing cars and dating girls.</p>
                        <p class="card-text"><small>(1974-1984)</small></p>
                        <hr class="raised">
                    </div>
                </div>
                <div class="card text-center mb-5 mx-3 pt-4 pb-2">
                    <img class="card-img-top" src="{% static 'img/tv/laverne_and_shirley_sq.png' %}" alt="Lavern & Shirley Poster">
                    <div class="card-body">
                        <h5 class="card-title">Laverne & Shirley</h5>
                        <p class="card-subtitle">Schlemiel! Schlimazel! Hasenpfeffer Incorporated!</p>
                        <hr class="raised">
                        <p class="card-text">Laverne DeFazio and Shirley Feeney were best friends and roommates coping with dates, neighbors, and each other During the late '50s and early '60s they worked as bottlecappers for Shotz Brewery in Milwaukee. They moved to Burbank, California in 1965 to start a new life when they got replaced at the brewery by an automated bottlecapper.</p>
                        <p class="card-text"><small>(1976-1983)</small></p>
                        <hr class="raised">
                    </div>
                </div>
                <div class="card text-center mb-5 mx-3 pt-4 pb-2">
                    <img class="card-img-top" src="{% static 'img/tv/baretta_sq.png' %}" alt="Baretta Poster">
                    <div class="card-body">
                        <h5 class="card-title">Baretta</h5>
                        <p class="card-subtitle">A different kind of cop</p>
                        <hr class="raised">
                        <p class="card-text">Tony Baretta is a street-smart, maverick undercover cop with the NYPD, who won't hesitate for a second to toss the rule book out the window if it stands between him and taking some bad guy off the street. His unconventional methods often land him in hot water, but as long as Baretta was getting the job done, there wasn't much they could do.</p>
                        <p class="card-text"><small>(1975-1978)</small></p>
                        <hr class="raised">
                    </div>
                </div>
                <div class="card text-center mb-5 mx-3 pt-4 pb-2">
                    <img class="card-img-top" src="{% static 'img/tv/the_big_event_3.jpg' %}" alt="The Big Event Poster">
                    <div class="card-body">
                        <h5 class="card-title">The Big Event</h5>
                        <hr class="raised">
                        <p class="card-text"><iframe width="100%" height="250px" src="https://www.youtube.com/embed/5sIpOXJ_XFk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                        <hr class="raised">
                    </div>
                </div>
                <div class="card text-center mb-5 mx-3 pt-4 pb-2">
                    <img class="card-img-top" src="{% static 'img/tv/abc_monday_night_movie_1976.jpg' %}" alt="ABC Monday Night Movie Poster">
                    <div class="card-body">
                        <h5 class="card-title">ABC Monday Night Movie</h5>
                        <hr class="raised">
                        <!-- <p class="card-text">The ABC Monday Night Movie is an anthology series on the ABC television network. It is part of ABC's Movie of the Week format. It began as an extension of The ABC Sunday Night Movie. Airing from January 19, 1970 until 2004 as a series, it has since run as a series of specials styled ABC Monday Movie of the Week.</p> -->
                        <p class="card-text"><iframe width="100%" height="250px" src="https://www.youtube.com/embed/MZnbUj7pkC4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                        <hr class="raised">
                    </div>
                </div>
                <div class="card text-center mb-5 mx-3 pt-4 pb-2">
                    <img class="card-img-top" src="{% static 'img/tv/abc_sunday_night_movie.jpg' %}" alt="ABC Sunday Night Movie Poster">
                    <div class="card-body">
                        <h5 class="card-title">ABC Sunday Night Movie</h5>
                        <hr class="raised">
                        <p class="card-text"><iframe width="100%" height="250px" src="https://www.youtube.com/embed/LcFQFl18Evg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                        <hr class="raised">
                    </div>
                </div>
                <div class="card text-center mb-5 mx-3 pt-4 pb-2">
                    <img class="card-img-top" src="{% static 'img/tv/charlies_angels_2.jpg' %}" alt="Charlie's Angels Poster">
                    <div class="card-body">
                        <h5 class="card-title">Charlie's Angels</h5>
                        <p class="card-subtitle">With THESE Angels around, you can count on all hell breaking loose!</p>
                        <hr class="raised">
                        <p class="card-text">Television series about a wealthy mystery man who runs a detective agency via a speakerphone and his personal assistant, John Bosley. His detectives are three beautiful women, who end up in a variety of difficult situations. The cast changed substantially over the life of this show, as actresses left for various movie, television, and modelling deals.</p>
                        <p class="card-text"><small>(1976-1981)</small></p>
                        <hr class="raised">
                    </div>
                </div>
            </div>
        </div>


        <!-- <div class="tab-header-wrapper"><h6 class="tab-header">Top Movies</h6></div> -->
        <h6 class="tab-header top-header movie-header">Top Movies</h6>
        <div class="tab tab-movie pack">
            <br>
            <div class="row movie-row text-center flex-container">
                <div class="card text-center mb-5 mx-3 pt-4 pb-2">
                    <img class="card-img-top" src="{% static 'img/movie/rocky.jpg' %}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">ROCKY</h5>
                        <p class="card-subtitle">You have a ringside seat for the bloodiest bicentennial in history!</p>
                        <hr class="raised">
                        <p class="card-text">Rocky Balboa is a struggling boxer trying to make the big time, working as a debt collector for a pittance. When heavyweight champion Apollo Creed visits Philadelphia, his managers want to set up an exhibition match between Creed and a struggling boxer, touting the fight as a chance for a "nobody" to become a "somebody". The match is supposed to be easily won by Creed, but someone forgot to tell Rocky, who sees this as his only shot at the big time.</p>
                        <p class="card-text"><iframe width="100%" height="250px" src="https://www.youtube.com/embed/7RYpJAUMo2M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                        <hr class="raised">
                    </div>
                </div>
                <div class="card text-center mb-5 mx-3 pt-4 pb-2">
                    <img class="card-img-top" src="{% static 'img/movie/to_fly.jpeg' %}" alt="'To Fly!' movie cover">
                    <div class="card-body">
                        <h5 class="card-title">To Fly!</h5>
                        <p class="card-subtitle">...an irresistible fantasy</p>
                        <hr class="raised">
                        <p class="card-text">The premier film for the Theatre of the National Air and Space Museum, Smithsonian Institution. A brief summary of the history of flight, from 19th century balloons through 21st century space probes, while simultaneously showing off the new Imax film medium. The evolution of flying technology is portrayed in parallel with the story of the westward exploration of America and the rural-to-cosmopolitan transformation of American society.</p>
                        <p class="card-text"><iframe width="100%" height="250px" src="https://www.youtube.com/embed/rOx9bCRlF5c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                        <hr class="raised">
                    </div>
                </div>
                <div class="card text-center mb-5 mx-3 pt-4 pb-2">
                    <img class="card-img-top" src="{% static 'img/movie/king_kong_1.jpg' %}" alt="King King movie cover">
                    <div class="card-body">
                        <h5 class="card-title">King Kong</h5>
                        <p class="card-subtitle">"Lights! Camera! Kong!"</p>
                        <hr class="raised">
                        <p class="card-text">When a research ship is sent to explore an island thought to be rich in oil, paleontologist Jack Prescott sneaks aboard, having heard strange rumors about the island. En route, the crew rescues Dwan, the sole survivor of a shipwreck. When they arrive, they find native people living in fear of a monster called Kong. The natives kidnap Dwan and sacrifice her to what turns out to be an enormous ape. Dwan is eventually rescued, and the ape captured for a gala exhibit.</p>
                        <p class="card-text"><iframe width="auto" height="250px" src="https://www.youtube.com/embed/7Xh1IoF_UsY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                        <hr class="raised">
                    </div>
                </div>
                <div class="card text-center mb-5 mx-3 pt-4 pb-2">
                    <img class="card-img-top" src="{% static 'img/movie/all_the_presidents_men.jpg' %}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">All The President's Men</h5>
                        <p class="card-subtitle">...it might cost them their jobs, reputations, and even their lives.</p>
                        <hr class="raised">
                        <p class="card-text">In the run-up to the 1972 elections, Washington Post reporter Bob Woodward covers what seems to be a minor break-in at the Democratic Party National headquarters. He is surprised to find top lawyers already on the defense case, and the discovery of names and addresses of Republican fund organizers on the accused further arouses his suspicions. The editor of the Post is prepared to run with the story and assigns Woodward and Carl Bernstein to it. They find the trail leading higher and higher in the Republican Party, and eventually into the White House itself.</p>
                        <p class="card-text"><iframe width="100%" height="250px" src="https://www.youtube.com/embed/DC3YFyah_Yg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                        <hr class="raised">
                    </div>
                </div>
                <div class="card text-center mb-5 mx-3 pt-4 pb-2">
                    <img class="card-img-top" src="{% static 'img/movie/a_star_is_born.jpg' %}" alt="'A Star Is Born' movie cover">
                    <div class="card-body">
                        <h5 class="card-title">A Star is Born</h5>
                        <p class="card-subtitle">The evergreen Oscar winner ablaze with music and stardust.</p>
                        <hr class="raised">
                        <p class="card-text">Talented rock star John Norman Howard has seen his career begin to decline. Too many years of concerts and managers and life on the road have made him cynical and the monotony has taken its toll. Then he meets the innocent, pure and very talented singer Esther Hoffman. As one of his songs in the movie says "I'm gonna take you girl, I'm gonna show you how." And he does. He shows Esther the way to stardom while forsaking his own career. As they fall in love, her success only makes his decline even more apparent.</p>
                        <p class="card-text"><iframe width="100%" height="250px" src="https://www.youtube.com/embed/838aCpFNpjA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                        <hr class="raised">
                    </div>
                </div>
                <div class="card text-center mb-5 mx-3 pt-4 pb-2">
                    <img class="card-img-top" src="{% static 'img/movie/the_omen.jpg' %}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">The Omen</h5>
                        <p class="card-subtitle">Today is the 6th Day of the 6th Month of 1976. You Have Been Warned</p>
                        <hr class="raised">
                        <p class="card-text">Robert and Katherine Thorn seem to have it all. They are happily married and he is the US Ambassador to Great Britain, but they want nothing more than to have children. When Katharine has a stillborn child, Robert is approached by a priest at the hospital who suggests that they take a healthy newborn whose mother has just died in childbirth. Without telling his wife he agrees. After relocating to London, strange events - and the ominous warnings of a priest - lead him to believe that the child he took from that Italian hospital is evil incarnate.</p>
                        <p class="card-text"><iframe width="100%" height="250px" src="https://www.youtube.com/embed/sS-sXcx30O4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                        <hr class="raised">
                    </div>
                </div>

                <div class="card text-center mb-5 mx-3 pt-4 pb-2">
                    <img class="card-img-top" src="{% static 'img/movie/the_enforcer.jpg' %}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">The Enforcer</h5>
                        <p class="card-subtitle">The "dirtiest" Harry of them all!</p>
                        <hr class="raised">
                        <p class="card-text">A threatening terrorist group called "The People's Revolutionary Strike Force" demand a ransom to be paid, otherwise they plan to blow the city apart. While Inspector "Dirty" Harry Callahan (Clint Eastwood) is in limbo following his unorthodox method during a robbery, he's sent to dispatch the terrorist group, by playing their game. This time, he has a new partner, Inspector Kate Moore (Tyne Daly), which might prove the task to be somewhat more difficult than ever, unless the two can work together.</p>
                        <p class="card-text"><iframe width="100%" height="250px" src="https://www.youtube.com/embed/3eYPSmHUkzU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                        <hr class="raised">
                    </div>
                </div>
                <div class="card text-center mb-5 mx-3 pt-4 pb-2">
                    <img class="card-img-top" src="{% static 'img/movie/midway.png' %}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Midway</h5>
                        <p class="card-subtitle">A war's defining battle. A nation's defining moment.</p>
                        <hr class="raised">
                        <p class="card-text">May 1941. After the Doolittle Raid Japan aims to expand its territory in the Pacific, to make such raids less likely. Their next target: Midway Island. However, the US Navy is intercepting their messages and has partially cracked their encryption code, forewarning them of Japan's intentions. Two US aircraft carrier task groups are sent to Midway, resulting in the one of the most important battles in history.</p>
                        <p class="card-text"><iframe width="100%" height="250px" src="https://www.youtube.com/embed/2CGbpbclYyQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                        <hr class="raised">
                    </div>
                </div>
                <div class="card text-center mb-5 mx-3 pt-4 pb-2">
                    <img class="card-img-top" src="{% static 'img/movie/bad_news_bears_2.jpg' %}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">The Bad News Bears</h5>
                        <p class="card-subtitle">At last, a picture of kids as they really are.</p>
                        <hr class="raised">
                        <p class="card-text">Former minor leaguer Morris Buttermaker is a lazy, beer swilling swimming pool cleaner who takes money to coach the Bears, a bunch of disheveled misfits who have virtually no baseball talent. Realizing his dilemma, Coach Buttermaker brings aboard girl pitching ace Amanda Whurlizer, the daughter of a former girlfriend, and Kelly Leak, a motorcycle punk who happens to be the best player around. Brimming with confidence, the Bears look to sweep into the championship game and avenge an earlier loss to their nemesis, the Yankees.</p>
                        <p class="card-text"><iframe width="100%" height="250px" src="https://www.youtube.com/embed/w1DDuN_eYlg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                        <hr class="raised">
                    </div>
                </div>
                <div class="card text-center mb-5 mx-3 pt-4 pb-2">
                    <img class="card-img-top" src="{% static 'img/movie/silver_streak.jpg' %}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Silver Streak</h5>
                        <p class="card-subtitle">Nothing can stop the Silver Streak</p>
                        <hr class="raised">
                        <p class="card-text">A somewhat daffy book editor on a rail trip from Los Angeles to Chicago thinks that he sees a murdered man thrown from the train. When he can find no one who will believe him, he starts doing some investigating of his own. But all that accomplishes is to get the killer after him.</p>
                        <p class="card-text"><iframe width="100%" height="250px" src="https://www.youtube.com/embed/rJ_1MkOVnNM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                        <hr class="raised">
                    </div>
                </div>
            </div>
        </div>

        <h6 class="tab-header top-header academy-header">Academy Awards</h6>
        <div class="tab tab-academy">
            <table class="table table-striped table-bordered table-hover">
                <thead class="text-center">
                    <th scope="col">Award</th>
                    <th scope="col">Recipient</th>
                </thead>
                {% for award in awards %}
                    <tr>
                        <td>{{ award.award }}</td>
                        <td>{{ award.winner }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <h6 class="tab-header sports-header top-header">Sports Championships</h6>
        <div class="tab tab-sports">
            <table class="table table-lg table-striped table-hover">
                <colgroup>
                    <col>
                    <col>
                </colgroup>
                <thead class="text-center">
                    <th scope="col">Championship</th>
                    <th scope="col">Winner (Result)</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Super Bowl X</td>
                        <td>Pittsburgh Steelers (vs Dallas Cowboys 21-17)</td>
                    </tr>
                    <tr>
                        <td>World Series, 73rd Edition</td>
                        <td>Cincinnati Reds (vs. New York Yankees 4-0)</td>
                    </tr>
                    <tr>
                        <td>Stanley Cup Finals</td>
                        <td>Montreal Canadiens (vs. Philadelphia Flyers 4-0)</td>
                    </tr>
                    <tr>
                        <td>NBA Championship Series</td>
                        <td>Boston Celtics (vs. Phoenix Suns 4-2)</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}


{% block javascript %}
    <script type="application/javascript" src="{% static 'js/neumorphism.js' %}"></script>
{% endblock %}