.page-header {
  font-variant: small-caps;
  text-decoration: 3pt solid underline black;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  text-align: center;
  border: 0.5pt single black;
}

#header {
  background-color: rgba(44, 48, 52, 0.7);
}

div.d-flex.flex-column {
  width: 100%;
  justify-content: center;
  align-items: center;
}

address {
  margin-bottom: 0;
}

div.content.container {
  width: 70%;
  max-width: 85%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: transparent;
  color: rgb(0, 0, 0);
  margin-top: 5vh;
  margin-bottom: 5vh;
}

html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
  font-size: medium;
  font-family: "Roboto", sans-serif;
}

body {
  padding-top: 116px;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.navbar-nav {
  margin-right: 0;
  display: inline-flex;
}

.navbar.navbar-expand-xl {
  text-align: center;
}

.btn.btn-dark.mx-0 {
  width: 100%;
  min-width: 100%;
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.list-item-dark {
  background-color: rgba(52, 58, 64, 0.85);
}

.footer-ul {
  list-style-type: none;
  text-align: center;
  align-content: center;
  margin: 0 auto;
}

body,
div.container-fluid.content {
  min-height: 100%;
  height: 100%;
  margin-bottom: 60px;
  bottom: 0;
}

.footer-row {
  width: 100%;
  max-width: 100%;
}

thead.thead-light {
  border: 5pt solid rgb(33, 37, 41);
}

th {
  border: 1pt solid rgb(44, 48, 52);
}

footer {
  position: fixed;
  height: 60px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
}

table {
  overflow-x: scroll;
}

ul.list-group.list-group-flush.list-group-dark.nav-ul {
  list-style-type: none;
  list-style: none;
  width: auto;
}

a.nav-link.dropdown-toggle {
  background-color: rgba(44, 48, 52, 0.85);
  color: rgba(235, 235, 235, 80);
}

.dropdown-menu li a,
.dropdown-menu li,
.dropdown-menu {
  border-collapse: collapse;
}

a.btn.btn-dark {
  width: 100%;
  min-width: 100%;
  margin: 0 auto;
  display: inline-block;
  border-radius: 0;
  border: none;
  transition: 0.35s;
  font-size: 11pt;
}

a.btn.btn-dark.text-lighter {
  background-color: rgba(52, 58, 64, 0.85);
}

ul.dropdown-menu {
  background-color: rgba(52, 58, 64, 0.85);
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.35s;
}

a.nav-link.dropdown-toggle {
  background-color: rgba(52, 58, 64, 0.85);
  transition: 0.35s;
}

h6.nav-header.outside {
  margin-left: 100%;
  color: royalblue;
  display: inline-block;
}

.dropdown-menu li:focus,
.dropdown-menu li:hover,
.dropdown-menu li:focus-within {
  background-color: rgba(33, 37, 41, 0.85);
  color: rgb(240, 179, 17);
}

.dropdown-menu li:hover > a,
.dropdown-menu li:focus > a {
  color: rgb(240, 179, 17);
  background-color: rgba(33, 37, 41, 0.85);
}

.dropdown-menu li:focus > ul > li > a {
  text-align: center;
  transition: 0.5s;
  background-color: rgba(33, 37, 41, 0.85);
}

nav.navbar.navbar-expand-xl.fixed-top.navbar-dark.bg-dark a.navbar-brand {
  margin-right: 0;
}

li.nav-item,
a.nav-link {
  font-size: 11pt;
}

@media (min-width: 1200px) {
  #outside-logout,
  #outside-username {
    display: inline-block;
  }

  .navbar-collapse.offcanvas-collapse {
    background-image: none;
  }

  .form-inline.my-2.my-lg-0.outside {
    display: inline-block;
    margin-left: auto;
  }

  li.nav-item.inside {
    display: none;
  }
}

@media (min-width: 992px) {
  .dropdown-menu .dropdown-toggle:after {
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
  }

  .dropdown-menu .dropdown-menu {
    margin-left: 0;
    margin-right: 0;
  }

  .dropdown-menu li {
    position: relative;
  }

  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }

  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }

  .dropdown-menu > li:hover {
    background-color: rgba(52, 58, 64, 0.85);
  }

  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}

/*                  MAX-WIDTH 1199.98px               */
/* ================================================ */
@media (max-width: 1199.98px) {
  nav.navbar.navbar-expand-xl.fixed-top.navbar-dark.bg-dark {
    height: 60px;
    background-color: rgba(52, 58, 64, 0.75);
  }

  li.nav-item a.nav-link {
    padding: 0.5rem;
  }

  a.navbar-brand img {
    height: 45px;
  }

  a.navbar-brand {
    padding-top: 0;
  }

  body {
    padding-top: 60px;
  }

  a.nav-link.btn.btn-outline-warning.btn-sm.inside {
    display: none;
  }

  a.nav-link.btn.btn-warning.btn-sm.inside {
    display: block;
    /* color: rgba(44, 48, 52, 0.75); */
    color: rgba(235, 235, 235, 0.75);
    background-color: rgba(240, 179, 17, 0.75);
    text-shadow: 3xp 3px 3px black;
  }

  a.nav-link.btn.btn-warning.btn-sm.inside:hover,
  a.nav-link.btn.btn-warning.btn-sm.inside:focus,
  a.nav-link.btn.btn-warning.btn-sm.inside:active {
    background-color: rgba(236, 142, 0, 0.74);
  }

  .navbar-collapse.offcanvas-collapse {
    position: fixed;
    top: 60px;
    /* navbar height */
    bottom: 60px;
    /* footer height */
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    background-image: url("../img/class_of_76_2.png");
    background-position-y: 90%;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 40%;
  }

  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
    /* Account for horizontal padding on navbar */
  }

  .nav-item.inside {
    display: inline-block;
  }

  .nav-item.outside,
  form.form-inline.my-2.my-lg-0.outside {
    display: none;
  }

  #outside-username,
  #outside-logout {
    display: none;
  }

  .navbar-collapse .nav-link {
    background-color: rgba(52, 58, 64, 0.85);
  }

  .navbar-collapse .nav-item {
    background-color: transparent;
  }
}

/*                        MAX-WIDTH 575px */
/* ================================================================= */
@media (max-width: 575px) {
  input.btn.btn-outline-warning.btn-sm.my-2.my-sm-0.btn-block {
    display: block;
    width: 100%;
  }

  input.btn.btn-outline-warning.btn-sm.my-2.my-sm-0.non-block {
    display: none;
  }
}

@media (min-width: 576px) {
  input.btn.btn-outline-warning.btn-sm.my-2.my-sm-0.btn-block {
    display: none;
  }

  input.btn.btn-outline-warning.btn-sm.my-2.my-sm-0.non-block {
    display: inline-flex;
  }
}

@media (min-width: 1200px) {
  a.nav-link.btn.btn-outline-warning.btn-sm.inside {
    display: inline-block;
  }

  a.nav-link.btn.btn-warning.btn-sm.inside {
    display: none;
  }

  .dropdown-menu .dropdown-toggle:after {
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
  }

  .dropdown-menu .dropdown-menu {
    margin-left: 0;
    margin-right: 0;
  }

  .dropdown-menu li {
    position: relative;
  }

  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }

  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }

  .dropdown-menu > li:hover {
    background-color: rgba(52, 58, 64, 0.85);
  }

  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}

a.text-lighter {
  color: rgba(255, 255, 255, 0.74);
}

a.text-lighter:hover,
a.text-lighter:focus,
a.text-lighter:active {
  color: rgba(255, 255, 255, 0.75);
}

a.dropdown-item:hover,
a.dropdown-item:focus {
  background-color: rgba(52, 56, 64, 0.85);
}

a.nav-link.btn.btn-sm.btn-dark.text-lighter {
  background-color: rgba(52, 56, 64, 0.85);
}


