@import url('http://fonts.cdnfonts.com/css/dotcirful');



/* TO TRY */
/* <link href="http://fonts.cdnfonts.com/css/helvetidoodle-by-ed-t" rel="stylesheet">
font-family: 'Helvetidoodle by Ed T', sans-serif;

<link href="http://fonts.cdnfonts.com/css/loco-tv" rel="stylesheet">
font-family: 'loco tv', sans-serif;
                                                
<link href="http://fonts.cdnfonts.com/css/tf2" rel="stylesheet">
font-family: 'TF2', sans-serif;
                                                
<link href="http://fonts.cdnfonts.com/css/codon" rel="stylesheet">
font-family: 'CODON', sans-serif;
                                                
<link href="http://fonts.cdnfonts.com/css/alba" rel="stylesheet">
font-family: 'Alba', sans-serif;
font-family: 'Alba Matter', sans-serif;
font-family: 'Alba Super', sans-serif;

<link href="http://fonts.cdnfonts.com/css/rolloglide" rel="stylesheet">
font-family: 'Rolloglide', sans-serif;
                                                
<link href="http://fonts.cdnfonts.com/css/varsity" rel="stylesheet">
font-family: 'Varsity Regular', sans-serif;
                                                
<link href="http://fonts.cdnfonts.com/css/academic-m54" rel="stylesheet">
font-family: 'Academic M54', sans-serif;
                                                
<link href="http://fonts.cdnfonts.com/css/the-maple-origins" rel="stylesheet">
font-family: 'THE MAPLE ORIGINS', sans-serif;
                               
<link href="http://fonts.cdnfonts.com/css/hard-rock" rel="stylesheet">
font-family: 'HARD ROCK', sans-serif;
                                                
<link href="http://fonts.cdnfonts.com/css/flatpack" rel="stylesheet">
font-family: 'FlatPack', sans-serif;
                                                                
<link href="http://fonts.cdnfonts.com/css/budmo-jiggler-jigglish" rel="stylesheet">
font-family: 'Budmo Jiggler', sans-serif;
font-family: 'Budmo Jigglish', sans-serif;

<link href="http://fonts.cdnfonts.com/css/noir-et-blanc" rel="stylesheet">
font-family: 'Noir-et-Blanc', sans-serif;
                                                
<link href="http://fonts.cdnfonts.com/css/zebrra" rel="stylesheet">
font-family: 'Zebrra', sans-serif;
                                                                
<link href="http://fonts.cdnfonts.com/css/mental-freak" rel="stylesheet">
font-family: 'MENTAL FREAK', sans-serif;
                                                
<link href="http://fonts.cdnfonts.com/css/vtks-encantar" rel="stylesheet">
font-family: 'vtks encantar', sans-serif;
                                                                
<link href="http://fonts.cdnfonts.com/css/vtc-coppa-kroma" rel="stylesheet">
font-family: 'VTC CoppaKroma', sans-serif;
                                                                
<link href="http://fonts.cdnfonts.com/css/designer-notes" rel="stylesheet">
font-family: 'Designer Notes', sans-serif;
font-family: 'Designer Notes Bold', sans-serif; */

:root {

  --bg-lightest: #E8F6FB;
  --bg-lighter: #DDF1EA;
  --bg-light: #D6F0FA;
  --dark-yellow: #E19857;
  --gunmetal: #112B31;


  /* --box-shadow-btn: 4px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #FFFFFF; */
  --box-shadow-btn: 4px 6px 16px #3F5864, -4px -4px 10px #FFFFFFCC /*#EBEBEBCC*/;
  --box-shadow-sm-inset: inset 1px 1px 3px #3F586480, inset -1px -1px 3px #FFFFFF;
  --box-shadow-sm: 1px 1px 3px #3F586480, -1px -1px 3px #FFFFFF;
  --box-shadow-md: 3px 3px 7px #3F586480, -3px -3px 7px #FFFFFF;
  /* --box-shadow-md-inset: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF;  */
  --box-shadow-md-inset: inset 3px 3px 7px #3F586480, inset -3px -3px 7px #EBEBEBCC;

  --box-shadow-md-inset-no-b: inset 3px 0 3px #3F586480, inset -3px 0px 3px #FFFFFF;

  --text-shadow: 2px 2px 2px #cedadf80, 0 0 0 #000, 2px 2px 2px #cedadf80;
  --text-shadow-inset: 1px 1px 1px #cedadf80, 0 0 0 #000, 1px 1px 1px #cedadf80;
  /* --text-shadow: 2px 2px 2px #d6e1ef99, 0 0 0 #000, 2px 2px 2px #d6e1ef00; */
  /* --text-shadow-inset: 1px 1px 1px #d6e1ef99, 0 0 0 #000, 1px 1px 1px #d6e1ef00; */
}

/* background: linear-gradient(318.32deg, #C3D1E4 0%, #DDE7F3 55%, #D4E0ED 100%); */


.page-header {
  padding: 40px;
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Codystar", cursive;
  line-height: 100%;
  -webkit-box-shadow: var(--box-shadow-md);
  box-shadow: var(--box-shadow-md);
  font-size: 60pt;
  font-weight: bold;
  text-shadow: inset 1px 1px 3px #d6e1ef99, 0 0 2px #000, inset -1px -1px 3px #d6e1ef00;
  filter: drop-shadow(3px 3px 7px rgba(136, 165, 191, 0.48)) drop-shadow(-3px -3px 7px #FFFFFF);
}

.page-header small {
  font-weight: bold;
  font-size: 24pt;
  filter: drop-shadow(3px 3px 3px rgba(136, 165, 191, 0.48)) drop-shadow(-3px -3px 3px #FFFFFF);
}

.rabbet {
  -webkit-clip-path: polygon(
    0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  clip-path: polygon(
    0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

.page-header-wrapper {
  filter: drop-shadow(3px 3px 3px rgba(136, 165, 191, 0.48)) drop-shadow(-3px -3px 3px #FFFFFF);
}

@media only screen and (max-width: 575.98px) {
  h2.page-header {
      font-size: 48pt; 
  }
}

#header {
  background-color: rgba(44, 48, 52, 0.7);
  -webkit-box-shadow:  0 0 20px 40px rgba(44, 48, 52, 0.7);
  box-shadow:  0 0 20px 40px rgba(44, 48, 52, 0.7);
}


div.d-flex.flex-column {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-bottom: 60px;
}

address {
  margin-bottom: 0;
}

html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
  font-size: medium;
  font-family: "Roboto", sans-serif;
  
                                                
}

body {
  padding-top: 106px;
  /* background: linear-gradient(318.32deg, #C3D1E4 0%, #DDE7F3 55%, #D4E0ED 100%); */
  background: linear-gradient(318.32deg, #ebebeb 0% #d1dce2 10%, #CDD9DF 55%, #c1d0d7 100%);
}

.box-shadow {
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.navbar-nav {
  margin-right: 0;
  display: inline-flex;
  font-family: "Codystar", cursive;
  color: rgba(235, 235, 235, 0.75);
  font-weight: bold;
}

.navbar.navbar-expand-xl {
  text-align: center;
}

.btn.btn-dark.mx-0 {
  width: 100%;
  min-width: 100%;
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.list-item-dark {
  background-color: rgba(52, 58, 64, 0.85);
}

.footer-ul {
  list-style-type: none;
  text-align: center;
  align-content: center;
  margin: 0 auto;
}

body,
div.container-fluid.content {
  text-align: center;
  min-height: 100%;
  height: 100%;
  bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

div.container-fluid.content {
  flex: 1;
}

.footer-row {
  width: 100%;
  max-width: 100%;
}

thead.thead-light {
  border: 5pt solid rgb(33, 37, 41);
}

footer {
  top: 100%;
  position: static;
  margin-top: auto;
  height: 60px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  -webkit-box-shadow: 0 0 5px 10px rgba(52, 58, 64, 0.7);
  box-shadow: 0 0 5px 10px rgba(52, 58, 64, 0.7);
  background-image: linear-gradient(
                    318.32deg, 
                    rgba(195, 209, 228, 0.8) 0%,
                    rgba(221, 231, 243, 0.7) 55%, 
                    rgba(212, 224, 237, 0.6) 100%);
  color: rgb(52, 58, 64);
}

table {
  overflow-x: scroll;
}

ul.list-group.list-group-flush.list-group-dark.nav-ul {
  list-style-type: none;
  list-style: none;
  width: auto;
}

a.nav-link.dropdown-toggle {
  background-color: rgba(44, 48, 52, 0.85);
  color: rgba(235, 235, 235, 80);
  font-size: 16pt;
}

.dropdown-menu li a,
.dropdown-menu li,
.dropdown-menu {
  border-collapse: collapse;
  font-weight: bold;
}

a.btn.btn-dark {
  width: 100%;
  min-width: 100%;
  margin: 0 auto;
  display: inline-block;
  border-radius: 0;
  border: none;
  transition: 0.35s;
  font-size: 11pt;
}

a.btn.btn-dark.text-lighter {
  background-color: rgba(52, 58, 64, 0.85);
}

ul.dropdown-menu {
  background-color: rgba(52, 58, 64, 0.85);
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.35s;
}

a.nav-link.dropdown-toggle {
  background-color: rgba(52, 58, 64, 0.85);
  transition: 0.35s;
}

h6.nav-header.outside {
  margin-left: 100%;
  color: royalblue;
  display: inline-block;
}

.dropdown-menu li:focus,
.dropdown-menu li:hover,
.dropdown-menu li:focus-within {
  background-color: rgba(33, 37, 41, 0.85);
  color: rgb(240, 179, 17);
}

.dropdown-menu li:hover > a,
.dropdown-menu li:focus > a {
  color: rgb(240, 179, 17);
  background-color: rgba(33, 37, 41, 0.85);
}

.dropdown-menu li:focus > ul > li > a {
  text-align: center;
  transition: 0.5s;
  background-color: rgba(33, 37, 41, 0.85);
}

nav.navbar.navbar-expand-xl.fixed-top.navbar-dark.bg-dark a.navbar-brand {
  margin-right: 0;
}

li.nav-item,
a.nav-link {
  font-size: 11pt;
}

form.form-inline.outside input[type="input"],
form.form-inline.outside input[type="password"] {
  background-color: rgb(94, 100, 107);
  -webkit-box-shadow: var(--box-shadow-sm-inset);
  box-shadow: var(--box-shadow-sm-inset);
  border: none;
  border-radius: 18pt;
  color: rgba(221, 231, 243, 0.8);

}

.form-control.form-control-sm.mr-sm-2 {
  width: 120px;
}
.form-control.form-control-sm.mr-sm-2::placeholder {
  color: rgba(52, 58, 64, 0.75);
  font-weight: bold;
  text-align: center;
}

@media (min-width: 1200px) {
  #outside-logout,
  #outside-username {
    display: inline-block;
  }

  .navbar-collapse.offcanvas-collapse {
    background-image: none;
  }

  .form-inline.my-2.my-lg-0.outside {
    display: inline-block;
    margin-left: auto;
  }

  li.nav-item.inside {
    display: none;
  }
}

@media (min-width: 992px) {

  .dropdown-menu .dropdown-toggle:after {
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
  }

  .dropdown-menu .dropdown-menu {
    margin-left: 0;
    margin-right: 0;
  }

  .dropdown-menu li {
    position: relative;
  }

  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }

  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }

  .dropdown-menu > li:hover {
    background-color: rgba(52, 58, 64, 0.85);
  }

  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}

/*                  MAX-WIDTH 1199.98px               */
/* ================================================ */
@media (max-width: 1199.98px) {

  nav.navbar.navbar-expand-xl.fixed-top.navbar-dark.bg-dark {
    height: 60px;
    background-color: rgba(52, 58, 64, 0.75);
  }

  li.nav-item a.nav-link {
    padding: 0.5rem;
  }

  a.navbar-brand img {
    height: 45px;
  }

  a.navbar-brand {
    padding-top: 0;
  }

  body {
    padding-top: 60px;
  }

  a.nav-link.btn.btn-outline-warning.btn-sm.inside {
    display: none;
  }

  a.nav-link.btn.btn-warning.btn-sm.inside {
    display: block;
    color: rgba(235, 235, 235, 0.75);
    background-color: rgba(240, 179, 17, 0.75);
    text-shadow: 3px 3px 3px black;
  }

  a.nav-link.btn.btn-warning.btn-sm.inside:hover,
  a.nav-link.btn.btn-warning.btn-sm.inside:focus,
  a.nav-link.btn.btn-warning.btn-sm.inside:active {
    background-color: rgba(209, 155, 5, 0.74);
  }

  .navbar-collapse.offcanvas-collapse {
    position: fixed;
    top: 60px;
    /* navbar height */
    bottom: 60px;
    /* footer height */
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    -ms-transform: translateX(100%);
    transition: -ms-transform 0.3s ease-in-out;

    -webkit-transform: translateX(100%);
    transition: -webkit-transform 0.3s ease-in-out;

    background-image: url("../img/class_of_76_2.png");
    background-position-y: 90%;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 40%;
  }

  .offcanvas-collapse.open {
    transform: translateX(-1rem);
    -ms-transform: translateX(-1rem);
    -webkit-transform: translateX(-1rem);
    /* Account for horizontal padding on navbar */
  }

  .nav-item.inside {
    display: inline-block;
  }

  .nav-item.outside,
  form.form-inline.my-2.my-lg-0.outside {
    display: none;
  }

  #outside-username,
  #outside-logout {
    display: none;
  }

  .navbar-collapse .nav-link {
    background-color: rgba(52, 58, 64, 0.85);
  }

  .navbar-collapse .nav-item {
    background-color: transparent;
  }
}

/*                        MAX-WIDTH 575px */
/* ================================================================= */

@media (max-width: 575px) {
  input.btn.btn-outline-warning.btn-sm.my-2.my-sm-0.btn-block {
    display: block;
    width: 100%;
    background-color: rgba(240, 179, 17, 0.75);
    transition: all 0.3s ease-in-out;
    color: rgba(52, 58, 64, 0.85);
    font-weight: bolder;
    font-size: 14pt;
  }

  input.btn.btn-outline-warning.btn-sm.my-2.my-sm-0.btn-block:hover {
    background-color: rgba(209, 155, 5, 0.74);
  }

  input.btn.btn-outline-warning.btn-sm.my-2.my-sm-0.non-block {
    display: none;
  }
}

@media (min-width: 576px) {
  input.btn.btn-outline-warning.btn-sm.my-2.my-sm-0.btn-block {
    display: none;
  }

  input.btn.btn-outline-warning.btn-sm.my-2.my-sm-0.non-block {
    display: inline-flex;
    background-color: rgba(240, 179, 17, 0.75);
    transition: all 0.3s ease-in-out;
  }

  input.btn.btn-outline-warning.btn-sm.my-2.my-sm-0.non-block:hover {
    background-color: rgba(209, 155, 5, 0.74);
  }
}

@media (min-width: 1200px) {
  a.nav-link.btn.btn-outline-warning.btn-sm.inside {
    display: inline-block;
  }

  a.nav-link.btn.btn-warning.btn-sm.inside {
    display: none;
  }

  .dropdown-menu .dropdown-toggle:after {
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
  }

  .dropdown-menu .dropdown-menu {
    margin-left: 0;
    margin-right: 0;
  }

  .dropdown-menu li {
    position: relative;
  }

  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }

  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }

  .dropdown-menu > li:hover {
    background-color: rgba(52, 58, 64, 0.85);
  }

  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}

a.text-lighter {
  color: rgba(255, 255, 255, 0.74);
}

a.text-lighter:hover,
a.text-lighter:focus,
a.text-lighter:active {
  color: rgba(255, 255, 255, 0.75);
}

a.dropdown-item:hover,
a.dropdown-item:focus {
  background-color: rgba(52, 56, 64, 0.85);
}

a.nav-link.btn.btn-sm.btn-dark.text-lighter {
  background-color: rgba(52, 56, 64, 0.85);
  font-weight: bold;
  font-size: 14pt;
}

@media (min-width: 1400px) {
  a.nav-link.btn-sm.btn-dark.text-lighter,
  a.nav-link.dropdown-toggle {
    font-size: 14pt;
  }
}

@media (min-width: 1300px) and (max-width: 1399.98px) {
  a.nav-link.btn.btn-sm.btn-dark.text-lighter,
  a.nav-link.dropdown-toggle  {
    font-size: 12pt;
  }
}

@media (min-width: 1200px) and (max-width: 1299px) {
  a.nav-link.btn.btn-sm.btn-dark.text-lighter,
  a.nav-link.dropdown-toggle  {
    font-size: 10pt;
  }
}

footer address {
  color: rgb(52,58,64);
}