{% extends 'base.html'%}
{% load widget_tweaks %}
{% load static %}


    {% block style %}
        {{ block.super }}
        <link rel="stylesheet" href="{% static 'css/main/contact_update.css' %}">
    {% endblock %}

    {% block content %}
        <h2 class="page-header">Update Contact Information</h2>

        <form method="post" action="" novalidate>
            {% csrf_token %}

            {{ form.non_field_errors }}

            {{ form.source.errors }}
            {{ form.source }}

            <div class="form-row">
                <div class="form-group col">
                    {% if form.first_name.errors %}
                        {% render_field form.first_name|append_attr:"required" class="form-control is-invalid" placeholder="* First Name" %}
                        {% for error in form.first_name.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.first_name|append_attr:"required" class="form-control" placeholder="* First Name" %}
                    {% endif %}
                </div>
                <div class="form-group col">
                    {{ form.middle_initial.errors }}
                    {% render_field form.middle_initial class="form-control" placeholder="Middle Initial" %}
                </div>
                <div class="form-group col">
                    {% if form.last_name.errors %}
                        {% render_field form.last_name|append_attr:"required" class="form-control is-invalid" placeholder="* Last Name" %}
                        {% for error in form.last_name.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.last_name|append_attr:"required" class="form-control" placeholder="* Last Name" %}
                {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="col form-group">
                    {{ form.phone.errors }}
                    {% render_field form.phone class="form-control" placeholder="Phone #" %}
                </div>
                <div class="col form-group">
                    {{ form.email.errors }}
                    {% render_field form.email class="form-control" placeholder="Email" %}
                </div>
            </div>
            <div class="form-row">
                <div class="col form-group">
                    {{ form.street_address.errors }}
                    {% render_field form.street_address class="form-control" placeholder="Street Address" %}
                </div>
                <div class="col form-group">
                    {{ form.city.errors }}
                    {% render_field form.city class="form-control" placeholder="City" %}
                </div>
            </div>
            <div class="form-row">
                <div class="col form-group">
                    {{ form.state_province.errors }}
                    {% render_field form.state_province class="form-control" placeholder="State/Province" %}
                </div>
                <div class="col form-group">
                    {{ form.zip_code.errors }}
                    {% render_field form.zip_code class="form-control" placeholder="ZIP" %}
                </div>
            </div>
            <div class="form-row">
                <div class="col"></div>
                <div class="col">
                    <div class="form-check form-check-inline">
                        <!-- {{ form.spouse_is_classmate|add_label_class:"form-check-label" }} -->
                        <label for="{{ form.spouse_is_classmate.id_for_label }}" class="form-check-label">Spouse is Classmate:</label>
                        {{ form.spouse_is_classmate.errors }}
                        {% render_field form.spouse_is_classmate class="form-check-input" %}
                    </div>
                </div>
                <div class="col"></div>
                <div class="col">
                    <div class="form-check form-check-inline">
                        <label for="{{ form.spouse_is_alumni.id_for_label }}" class="form-check-label">Spouse is Alumni:</label>
                        {{ form.spouse_is_alumni.errors }}
                        {% render_field form.spouse_is_alumni class="form-check-input" %}
                    </div>
                </div>
                <div class="col"></div>
            </div>
            </br>
            <div class="form-row" id="spouse-row">
                <div class="form-group col">
                    <!-- <label for="{{ form.spouse_first_name.id_for_label }}">First</label> -->
                    {{ form.spouse_first_name.errors }}
                    {% render_field form.spouse_first_name class="form-control" placeholder="Spouse First Name" %}
                </div>
                <div class="form-group col">
                    <!-- <label for="{{ form.spouse_middle_initial.id_for_label }}">Middle</label> -->
                    {{ form.spouse_middle_initial.errors }}
                    {% render_field form.spouse_middle_initial class="form-control" placeholder="Middle Initinal" %}
                </div>
                <div class="form-group col">
                    <!-- <label for="{{ form.spouse_last_name.id_for_label }}">Last</label> -->
                    {{ form.spouse_last_name.errors }}
                    {% render_field form.spouse_last_name class="form-control" placeholder="Last Name" %}
                </div>
            </div>

            <button type="submit" class="btn btn-block btn-primary">Submit</button>

        </form>

    {% endblock %}

    {% block javascript %}
        <script type="text/javascript" src="{% static 'js/contact.js' %}"></script>
    {% endblock %}