{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ block.super }} - Home
{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/main/index.css' %}">
{% endblock %}


{% block content %}

    <div class="page-header-wrapper">
        <h2 class="page-header rabbet">Wayzata High School Class of 1976</h2>
    </div>

    {% if request.user.is_superuser %}
        <a href="{% url 'update_homepage' %}">
            <div role="button" type="button" class="btn-neumo">
                <div class="inner-wrapper">
                    <small>MODIFY HOMEPAGE CONTENT</small>
                </div>
            </div>
        </a>
    {% endif %}

    {% if homepage %}
        <div class="index-div" style="width:90%;margin:0 auto;">
            <h4 class="text-center">{{ homepage.title }}</h4>

            {% if homepage.subtitle %}
                <h6 class="text-center">{{ homepage.subtitle }}</h6>
                <sup>{{ homepage.readable_date_created }} by {{ homepage.author.username }}</sup>
            {% endif %}

            <br>

            {% if homepage.homepage_post_image %}
                <div class="row">
                    <div class="col"></div>
                    <div class="col-xs-10 col-sm-8 col-md-7 index-image-wrapper">
                        <img class="index-image" src="{{ homepage.homepage_post_image.image.url }}">
                    </div>
                    <div class="col"></div>
                </div>

                {% if homepage.homepage_post_image.caption %}
                    <h6 class="text-center index-caption"><small>{{ homepage.homepage_post_image.caption }}</small></h6>
                {% endif %}

            {% endif %}

            <br>

            <div class="index-body text-center">
                {{ homepage.body|safe }}
                {% if homepage.footnote %}
                    <br>
                    <div class="footnote-wrapper"></div>
                        <sup class="index-footnote">{{ homepage.footnote }}</sup>
                    </div>
                {% endif %}
            </div>

        </div>
    {% endif %}

    <div class="footer-image-top">
        <div class="gradient-overlay"></div>
    </div>

{% endblock %}