{% extends "base.html" %} {% load static %} {% block title %} {{ block.super }}
- Home {% endblock %} {% block style %} {{ block.super }}
<link rel="stylesheet" src="{% static 'css/main/index.css' %}" />
{% endblock %} {% block content %}
<h2 class="page-header">Wayzata High School - Class of 1976</h2>
<div class="index-div">
    <hr />
    <h4 class="text-center">Upcoming 45th Reunion</h4>
    <h5 class="text-center">What You Can Do:</h5>
    <br />

    <p class="text-center">
        We want to hear from you! Please take a moment to fill
        <a href="{% url 'questionnaire' %}">this</a> out. <br /><small>Guaranteed to be less than seven questions, or
            more if things
            changed!</small>
    </p>

    <hr />

    <p class="text-center">
        We still have many classmates that we're not able to locate.<br />
        Please visit the <a href="{% url 'view_classmates' %}">classmates</a> page
        to see if you or someone you know is listed. <br /><small class="text-center">(select the M.I.A. option from the
            dropdown menu to view a complete list
            of classmates we need help finding)</small>.
    </p>
    <hr />
</div>
{% endblock %}