{% extends 'base.html' %}

{% block title %}
    {{ block.super }} - Links
{% endblock %}

{% block style %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="http://www.wayzata.k12.mn.us/whs/">Wayzata High School Website</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://www.wayzata-alumni.com/1976.html">Wayzata Alumni Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://www.classmates.com/cmo/user/school/list.jsp?startYear=1976&communityId=7000010706&endYear=1976">Wayzata '76 @ Classmates.com </a >
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://www.wayzata.k12.mn.us/directory/?&MMN_position=10:10">Wayzata Public Schools Staff Directory</a>
        </li>
    </ul>
{% endblock %}