{% extends 'base.html' %}
<!-- {% load static %} -->

{% block title %}
    {{ block.super }} - Questionnaire
{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/main/questionnaire.css' %}">
{% endblock %}

{% block content %}

    <h2 class="page-header">QUESTIONNAIRE</h2>
    <div class="form-wrapper">
    <form>
        <div class="form-group">
            <label for="keepTextArea">If you attended the 40th reunion, what did you like most about it?</label>
            <textarea class="form-control" id="keepTextArea" rows="3" name='likedInput'></textarea>
        </div>
        <div class="form-group">
            <label for="changeTextArea">If you attended the 40th reunion, what would you have changed to make it better?</label>
            <textarea class="form-control" id="changeTextArea" rows="3" name='dislikedInput'></textarea>
        </div>
        <div class="form-group">
            <label for="locationTextArea">Where would you like the 45th reunion to be held?</label>
            <textarea class="form-control" id="locationTextArea" rows="3" name='locationInput'></textarea>
        </div>
        <div class="form-group">
            <label for="musicSelect">What would you choose for musical enjoyment?</label>
            <select class="form-control" id="musicSelect" name='musicInput'>
                <option value='band'>Live Band</option>
                <option value='dj'>Professional DJ</option>
                <option value='karoke'>Karoke</option>
                <option value='playlist'>Playlist of 70's Music</option>
                <option value='other'>Other (select to explain)</option>
            </select>
        </div>
        <div class="form-row" id='otherDiv'>
            <div class="col">
                <textarea class="form-control" rows="3" placeholder="Tell us your idea here." name='otherInput'></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="foodTextArea">What kind of food yould you like to have available?</label>
            <textarea class="form-control" id="foodTextArea" rows="3" name='foodInput'></textarea>
        </div>
        <div class="form-group">
            <label for="miscTextArea">Any other ideas, requests, suggestions, recommendations, remarks, ripostes, questions, perspectives, pontifiations, comments, addendums, declarations, decrees, anecdotes, elucidations, musings, witticisms, inquiries, sentiments, assessments,  or general observations you'd like to share?</label>
            <textarea class="form-control" id="miscTextArea" rows="3" name="miscInput"></textarea>
            <!-- utterances, pronouncements, dictums, decrees, edicts, assertions, remarks, affirmations, reflections, revelations, declarations, exclamations, notes, assessments, insights, notions, elucidations, promulgations*, testimoy, endorsemenets -->
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="*Name" name='nameInput'>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="email" class="form-control" id="emailInput" name='emailInput' placeholder="* Email">
                </div>
            </div>
        </div>
        <button type='submit' class='btn btn-block btn-primary'>Submit</button>
    </form>
    </div>
    <br>
    <hr>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/questionnaire.js' %}"></script>
{% endblock %}