{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/main/view_news.css' %}">
{% endblock %}

{% block content %}

    <div class="page-header-wrapper">
        <h2 class="page-header rabbet">News & Updates</h2>
    </div>

    {% if request.user.is_superuser %}
        <a class="btn btn-neumo btn-block" href="{% url 'create_news_post' %}">
            <div class="inner-wrapper">
                <p>CREATE NEW POST</p>
            </div>
        </a>
    {% endif %}

    <div class="news-container text-center">
        {% for post in posts %}
            <div class="card">
                {% if post.news_post_image %}
                    <img class="card-img-top" src="{{ post.news_post_image.image.url }}">
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{ post.header }}</h2>
                    <span><small>{{ post.readable_date_created }}</small></span>
                    <hr>
                    <p class="card-text">{{ post.body|safe }}</p>
                </div>
            </div>
            {% if not forloop.last %}
                <hr>
            {% endif %}
        {% empty %}
            <h2>Coming Soon!</h2>
        {% endfor %}
    </div>

    <div class="footer-image-top">
        <div class="gradient-overlay"></div>
    </div>

{% endblock %}