{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <div class="accordion">
       

        <div class="card bg-dark text-white">
            <div class="card-header" id="topSongsHeader">
                <h1 class="mb-0 text-center">
                    <button class="btn btn-link btn-wide" data-toggle="collapse" data-target="#topSongsCollapse" aria-expanded="false" aria-controls="topSongsCollapse">Top 100 Songs of '76</button>
                </h1>
            </div>
            <div id="topSongsCollapse" class="collapse" aria-labelledby="topSongsHeader" data-parent="accordion">
                <div class="card-body text-center">
                    <table class="table table-striped table-dark table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>Position</th>
                                <th>Single</th>
                                <th>Artist</th>
                                <th>Peak</th>
                                <th>Weeks @ Peak</th>
                                <th>Weeks Top 10</th>
                                <th>Weeks Top 40</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for song in songs %}
                                <tr>
                                    <td>{{ song.position }}</td>
                                    <td>{{ song.single }}</td>
                                    <td>{{ song.artist }}</td>
                                    <td>{{ song.peak }}</td>
                                    <td>{{ song.weeks_peak }}</td>
                                    <td>{{ song.weeks_10 }}</td>
                                    <td>{{ song.weeks_40 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="card bg-dark text-white">
            <div class="card-header" id="topTvHeader">
                <h1 class="mb-0 text-center">
                    <button class="btn btn-link btn-wide" data-toggle="collapse" data-target="#topTvCollapse" aria-expanded=false aria-controls="topTvCollapse">Top TV Shows of '76</button>
                </h1>
            </div>
            <div id="topTvCollapse" class="collapse" aria-labelledby="topTvHeader" data-parent="accordion">
                <div class="card-body">
                    <ol class="list-group list-group-flush text-center">
                        <li class="list-group-item list-group-item-dark">ABC Monday Night Movie</li>
                        <li class="list-group-item list-group-item-dark">ABC Sunday Night Movie</li>
                        <li class="list-group-item list-group-item-dark">Barretta</li>
                        <li class="list-group-item list-group-item-dark">The Big Event</li>
                        <li class="list-group-item list-group-item-dark">Charlie's Angels</li>
                        <li class="list-group-item list-group-item-dark">Happy Days</li>
                        <li class="list-group-item list-group-item-dark">Lavern & Shirley</li>
                        <li class="list-group-item list-group-item-dark">Mash</li>
                        <li class="list-group-item list-group-item-dark">One Day at a Time</li>
                        <li class="list-group-item list-group-item-dark">Six Million Dollar Man</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="card bg-dark text-white">
            <div class="card-header" id="topMoviesHeader">
                <h1 class="mb-0 text-center">
                    <button class="btn btn-link btn-wide" data-toggle="collapse" data-target="#topMoviesCollapse" aria-expanded="false" aria-controls="topMoviesCollapse">Top Movies of '76</button>
                </h1>
            </div>
            <div id="topMoviesCollapse" class="collapse" aria-labelledby="topMoviesHeader" data-parent="accordion">
                <div class="card-body">
                    <ol class="list-group list-group-flush list-group-lg">
                        <li class="list-group-item list-group-item-dark">Rocky</li>
                        <li class="list-group-item list-group-item-dark">To Fly!</li>
                        <li class="list-group-item list-group-item-dark">All the President's Men</li>
                        <li class="list-group-item list-group-item-dark">A Star is Born</li>
                        <li class="list-group-item list-group-item-dark">King Kong</li>
                        <li class="list-group-item list-group-item-dark">Silver Streak</li>
                        <li class="list-group-item list-group-item-dark">The Omen</li>
                        <li class="list-group-item list-group-item-dark">The Enforcer</li>
                        <li class="list-group-item list-group-item-dark">Midway</li>
                        <li class="list-group-item list-group-item-dark">The Bad News Bears</li>
                    </ol>
                </div>
            </div>
        </div>


        <div class="card bg-dark text-white">
            <div class="card-header" id="academyHeader">
                <h1 class="mb-0 text-center">
                    <button class="btn btn-link btn-wide" data-toggle="collapse" data-target="#academyCollapse" aria-expanded="false" aria-controls="academyCollapse">'76 Academy Awards</button>
                </h1>
                <div id="academyCollapse" class="collapse" aria-labelledby="academyHeader" data-parent="accordion">
                    <div class="card-body">
                        <table class="table table-dark table-striped table-bordered">
                            {% for award in awards %}
                                <tr>
                                    <td>{{ award.award }}</td>
                                    <td>{{ award.winner }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="card bg-dark text-white">
            <div class="card-header" id="sportsHeader">
                <h1 class="mb-0 text-center">
                    <button class="btn btn-link btn-wide" data-toggle="collapse" data-target="#sportsCollapse" aria-expanded="false" aria-controls="sportsCollapse">'76 Sports Champions</button>
                </h1>
            </div>
            <div id="sportsCollapse" class="collapse" aria-labelledby="sportsHeader" data-parent="accordion">
                <table class="table table-striped table-dark table-bordered">
                    <tr>
                        <td>Super Bowl X</td>
                        <td>Pittsburgh Steelers (vs. Dallas Cowboys 21-17)</td>
                    </tr>
                    <tr>
                        <td>World Series, 73rd Edition</td>
                        <td>Cincinnatti Reds (vs. New York Yankees 4-0)</td>
                    </tr>
                    <tr>
                        <td>Stanley Cup Finals</td>
                        <td>Montreal Canadiens (vs. Philadelphia Flyers 4-0)</td>
                    </tr>
                    <tr>
                        <td>NBA Championship Series</td>
                        <td>Boston Celtics (vs. Pheonix Suns 4-2)</td>
                    </tr>
                </table>
            </div>
        </div>

        
        <div class="card bg-dark text-white">
            <div class="card-header" id="yearbookHeader">
                <h1 class="mb-0 text-center">
                    <button class="btn btn-link btn-wide" data-toggle="collapse" data-target="#yearbookCollapse" aria-expanded="false" aria-controls="yearbookCollapse">Yearbooks</button>
                </h1>
            </div>
            <div id="yearbookCollapse" class="collapse" aria-labelledby="yearbookHeader" data-parent="accordion">
                <div class="row">
                    {% for yearbook in yearbooks %}
                        <div class="col-xs-12 col-md-6 col-lg 4">
                            <div class="card bg-dark text-center">
                                <img class="card-img-top" src="{{ yearbook.cover.url }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ yearbook.display_name }}</h5>
                                    {% if yearbook.gallery %}
                                        <a href="{{ yearbook.gallery.url }}" class="btn btn-primary">View Pages</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}